body{
  font-family: 'Inconsolata', Arial, serif; font-weight: 400;
  color: #292B36;
}
.gotop{
  display: none;
  height: 100px;
  width: 100px;
  padding: 0px;
  position: fixed;
  right:5%;
  bottom:5%;
}

.gotop-small{
  height: 30px;
  width: 30px;
  padding: 0px;
  background-color: #46e3be;
  color: #46e3be;
  text-align: center;
  float: left;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.2s;
}

.gotop-small p{
  font-size: 20px;
  font-weight: 700;
  margin: 0px
}

.gotop-small:hover{
  background-color: white;
}

.left-margin {
  margin-left: 5px;
}

.up-margin{
  margin-top: 5px;
}

.nav-color{
  background-color: #292B36;
  position: fixed;
  box-shadow: none;
}

.brand-logo{
  font-family: Avenir, Pier Regular, sans-serif;
  font-weight: bold;
  display: none !important;
}

.nav-color a{
  /* color: #292B36; */
  color: white;
}

.side-nav a {
  color: #292B36;
}

.background {
  /* background-color: #90caf9; */
  /* background-color: #002244; */
  /* background-color: #ff2253; */
  background-color: #292B36;
  padding: 5%;
  text-align: center;
  color: white;

}

.background img {
  width: 90%;
}

.box{
  border: 1px solid black;
}

.date, .venue {
  display: inline;
  font-size: 25px;
}

.date{
  padding: 0px 20px;
  border-right: 2px solid white;
}

.venue{
  margin-left: 20px;
}

.description{
  display: block;
  font-size: 22px;
}



#introduction {
  background-color: #292B36;
  padding: 50px 0px 50px 0px;
}

#introduction h2{
  color: white;
}

.introduction-box{
  background-color: white;
  padding: 20px;
}

.introduction-box p{
  font-size: 1.5em;
}

#faq {
  background-color: white;
  padding: 50px 0px 30px 0px;
}

.faq-box {
  min-height: 300px;
}

.faq-header{
  color: #292B36 !important;
  font-weight: 700;
}

.faq-box p{
  font-size: 18px;
  color: #888;
}





#schedule{
  background-color: #26a69a ;
  color: white;
  padding: 50px 0px 50px 0px;
}

#schedule-box{
  padding: 20px !important;
  border: 3px solid white;
  margin-top: 50px;
}

.schedule {
  width: 70%;
  margin: 0 auto;
}


.schedule .day{
  font-size: 22px;
  margin: 0px;
}

.schedule .day-date{
  margin: 0px;
  padding: 0px;
}

.time-zone{
  font-size: 20px !important;
}

.schedule p{
  font-size: 20px;
  margin: 0px;
}

table, th, td {
  padding: 2px 5px 10px 5px;
}

tr td:nth-child(2){
  text-align: center;
  padding-right: 10px;
}

tr td:nth-child(2) p {
  font-size: 30px;
}

tr td:last-child p {
  text-transform: uppercase;
  font-weight: 700;
}

.time-area {
  border-top: 2px solid white;
}


#sponsor{
  background-color: white;
  padding: 50px 0px 50px 0px;
}

.sponsor-container {
  margin-top: 50px;
  text-align: center;
}

#footer{
  background-color: #292B36;
  padding: 20px 0px 20px 0px;
  color: white;
}

#footer  p{
  font-size: 18px;
}

#footer .row div:last-child{
  text-align: right;
}

@media (max-width: 767px) {
  .background img {
    width: 100%;
  }
  .date, .venue {
    font-size: 20px;
  }
  .description{
    font-size: 18px;
    margin-top: 30px;
  }

  .row .col img{
    width: 200px;
  }

}
