.shirt-title-div {
  width: 100%;

  background-color: white;
  color: #444444;
  padding-top: 20px;
  margin-top: 10px;
  border-bottom: 1px solid #eeeeee;
}



.shirt-title-div p:first-child {
  font-size: 24px;
  line-height: 25px;
  margin: 0px;
}


.shirt-title-div p:nth-child(2){
  color: #848484;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 0px;

}

.fixed-top{
  position: fixed;
  top: 0px;
  margin-top: 0px;
  z-index: 1000;
}

.box{
  border: 1px solid black;
}



#over {
  background-color: #00897b;
  color: white;
  padding: 10px;
  text-align: right;
}

#over p {
  margin: 0px;
}

.main-card{
  box-shadow: none;
  margin: auto 0px !important;
  text-align: center;
}

.main-card:hover{
  box-shadow: none;
}

.main-image{
}

.main-image img {
  width:70%;
}

.box-container{

  margin-top: 40px ;
}

.intro-img img{
  width: 100%;
}

.intro-title {
  display: inline-block;
  vertical-align: middle;
  margin-top: 30px;

}

.intro-title p:first-child{
  color: #444444;
  font-size: 19px;
  line-height: 26px;
}

.intro-title p:nth-child(2){
  color: #848484;
  font-size: 16px;
  line-height: 24px;
}

.color-container {
  background-color: #5D0F0D;
  color: white;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.color-container p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.madeby-container{
  background-color: f6f6f6;
  margin-top: 40px ;

}

.black-bg{
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  padding: 20px;
  padding-bottom: 5px;
}

.madeby-container .cotton{
  color: white;
  background-image: url('../image/cotton.jpg');
  background-position: center;
  background-size: cover;
}

.size-container{
  text-align: center;
  margin-top: 100px ;
  margin-bottom: 100px ;
}

.size-box{
  text-align: center;
  height: 100px;
  width: 100px;
  background-color: #848484;
  color: white;
  margin-top: 10px;
  transition: all 0.5s;
}

.size-box:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.size-box p{
  margin: 0px;
  font-size: 24px;
  line-height: 100px;

}

.size-modal{
  z-index: 10000;
}

#buynow{
  background-color: #455a64;
  padding: 20px 0px 20px 0px;
}

.buynow-container h3{
  text-align: center;
  color: white;
}

.card-content .buynow-title{
  color: #212121 !important;
  font-size: 24px !important;
  line-height: 25px !important;
  margin: 0px !important;
}

.card-content .buynow-descrption{
  color: #848484 !important;
  font-size: 16px !important;
  margin-top: 5px !important;
}
