.shirt-title-div {
  width: 100%;
  height: 100px;
  background-color: white;
  color: #444444;
  padding-top: 20px;
  margin-top: 10px;
  border-bottom: 1px solid #eeeeee;
}



.shirt-title-div p:first-child {
  font-size: 24px;
  line-height: 25px;
  margin: 0px;
}


.shirt-title-div p:nth-child(2){
  color: #848484;
  font-size: 16px;
  margin-top: 5px;

}

.box{
  border: 1px solid black;
}

.main-card{
  box-shadow: none;
  margin: auto 0px !important;
  text-align: center;
}

.main-card:hover{
  box-shadow: none;
}

.main-image{
}

.main-image img {

  width:70%;
}
