.shop-container{
  margin-top: 50px;
}

.product-detail{

}

.product-image{

}

.product-description{

  color: #2c3e50;
  text-align: right;
  padding: 0px !important;
  padding-right: 25px !important;

}


.product-description h3{

}

.btn-order{
  margin-bottom: 20px;
}
