
.shop-container{
  margin-top: 50px;
}

.product-detail{
  background-color: #F6F6F6;
  margin-bottom: 20px !important;
}

.product-description{
  padding: 0px;
  margin-top: 10%;
  display: inline-block;
  text-align: center;
}
